.form {
  margin: 30px auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  box-shadow: none;
}

.btn {
  margin: 30px 0 10px;
  width: 40%;
}

.input {
  width: 40%;
  margin: 10px 0;
}


.circularProgress {
  margin-top: 200px;
}