.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.filters {
  width: 100%;
}

.filters > div {
  margin: auto 8px;
}

.header {
  width: 80%;
  display: flex;
}


.loadingInfo {
  height: 100%;
  display: flex;
  justify-content: center;
}

.filters {
  display: flex;
}

.datePicker {
  width: 30%;
}
