.positionModal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 660px;
    height: 80vh;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid white;
    padding-top: 40px;
    background-color: #fff;
}
.positionModal > div > div {
    background-color: white;
}

.positionModalCell {
    font-size: 16px;
}
.modal {
}