.positionModal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 540px;
    height: 90vh;
    background-color: 'white'
}
.positionModal > div > div {
    background-color: white;
}