.positionModal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.button {
  /* display: flex; */
  justify-content: flex-end;
  /* align-self: flex-start; */
}

.div {
  display: flex;
  align-items: center;
  justify-content: center;
}