.titleForm {
    text-align: center;
    padding: 10px 5px;
    font-size: 24px;
}

.positionModal {
    position: absolute;
    max-height: 100vh;
    width: 80%;
    left: 50%;
    top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
}

.button {
    font-size: 16px;
    padding: 10px;
    width: 80%;
    margin: 30px auto;
} 

.input {
    font-size: 16px;
    line-height: 140%;
    padding: 6px;
    width: 80%;
    text-align: center;
    height: 30px;
}

.label {
    text-align: center;
    margin-bottom: 14px;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .menuItem {
        padding: 0px 4px;
        margin: 0 4px;
        font-size: 14px;
        overflow-x: hidden;
        overflow: scroll;
    }

    .responseInput {
        padding-bottom: 30px;
    }

    .titleForm {
        text-align: center;
        padding: 10px 5px;
        font-size: 20px;
    }

    .responseRoot {
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-size: 10px;

    }
}
