.navTeam {
  height: 4vw;
  min-height: 40px;
  background-color:rgba(92, 56, 150, 1);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 60px;
  padding-left: 10px;
}

.team {
  font-size: 24px;
  margin: 0;
  padding: 0;
}


.speedDialIron {
  font-size: 10px;
  /* background-color: #fff; */
}

.speedDial {
  height: 10px;
  font-size: 10px;
}

.test {
  height: 20px;
  font-size: 10px;
  background-color: #fff;
}

.exampleWrapper {
  height: 20px;
}

:root {
  --size: 2.2vw;
  --mixSize: 10px;
}

.rootCircle {
  /* height: 10px; */
  min-height: 0;
  height: var(--size);
  width: var(--size);
}

.iconRoot {
  /* min-height: 0; */
  min-width: var(--mixSize);
  min-height: var(--mixSize);
  height: calc(var(--size)*0.8);
  width: calc(var(--size)*0.8);
  
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--size)*0.8);
}

.actionRoot {
  min-height: 10px;
  width: var(--size);
  height: var(--size);
  background-color: white;
}

.actionIcon {
  color: #000;
  font-size: calc(var(--size)*0.8);
}

@media screen and (max-width: 1000px) {
  .team {
    font-size: 18px;
  }
  .rootCircle {
    height: 24px;
    width: 24px;
  }

  .icon {
    font-size: 24px;
  }

  .iconRoot {
    /* min-height: 0; */
    min-width: var(--mixSize);
    min-height: var(--mixSize);
    height: 24px;
    width: 24px;
    
  }

  .actionRoot {
    min-height: 10px;
    width: 24px;
    height: 24px;
    background-color: white;
  }
  
  .actionIcon {
    color: #000;
    font-size: 20px;
  }

}