ul, li, p  {
  padding: 0;
  margin: 0;
}

.firstLi {
  padding: 14px 0;
  background-color: rgba(92, 56, 150, 1);
  color: white;
  display: flex;
  align-items: center;
}

.li {
  width: 100%;
  display: flex;
  align-items: center;
}



.liEdit {
  background-color: rgba(92, 56, 150, 0.7);
}

.edit {
  padding-left: 10px;
  width: 5%;
  text-align: center;
}

.editItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lp {
  width: 5%;
  text-align: left;
}
.editLp {
  width: 5%;
  text-align: left;
 color: white;
}
.cash {
  margin-left: 10px;
  width: 5%;
  text-align: left;
}
.name {
  width: 15%;
  text-align: left;
}
.surname {
  width: 15%;
  text-align: left;
}
.team {
  width: 10%;
  text-align: left;
}
.code {
  width: 10%;
  text-align: left;
}
.year {
  width: 5%;
  text-align: left;
}
.title {
  width: 30%;
  text-align: left;
}

.pointer {
  cursor: pointer;
}

.input {
  width: 70%;
}

.li > div {
  padding: 12px 0;
}