* {
    box-sizing: border-box;
}

.app {
    text-align: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.app__container {
    margin-left: 5vw;
    width: 95%;
}

.nav {
    position: fixed;
    height: 100%;
    width: 15vw;
    min-width: 300px;
    top: 0px;
    transform: translateX(-100%);
    background-color: rgba(54, 33, 94, 1);
    box-shadow: 4px 5px #8d8d8d;
    transition-duration: .5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;

}
.nav--active {
    transform: translateX(0%);
}
.nav__open {
    width: 30px;
    height: 30px;
    position: absolute;
    color:white;
    background-color: rgba(54, 33, 94, 100%);
    top: 0px;
    right: -7%;
    cursor: pointer;
    box-shadow: 2px 2px #8d8d8d;
}

.nav__active {
    background-color:rgba(92, 56, 150, 100%);
}

main {
    width: 100%;
    height: 100%;
}

.modal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 32px;
    justify-content: center;
    align-items: center;
}

.modal > button {
    margin-top: 32px;
}

.modal__paper {
    width: 80vw; 
    height: 60vh; 
    margin: 100px auto auto auto;
}

.MuiOutlinedInput-root {
    max-height: 40px;
}

.filters {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: stretch;
}

.filters > div {
    flex-basis: 50%;
}

.table__add {
    position: absolute;
    top: 50px;
    right: 50px;
}

.event-approbal__paper {
    width: 20vw;
    height: 10vh;
    position: absolute;
    top: 2vh;
    right: 2vw;
}

.biling__modal--add-outcome {
    margin: 20vh auto auto auto;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.biling__modal--add-outcome > button {
    margin: 16px;
}

.biling__modal--account {
    width: 60%;
    height: 60%;
    margin: 20vh auto auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}