@font-face {
    font-family: 'Museo300';
    font-weight: normal;
    font-style: normal;
    src: local('Museo300') url('./fonts/Museo300-Regular.ttf') format('truetype'),
        local('Museo300') url('./fonts/Museo-Regular-300.otf') format('opentype'),
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('./assets/Agnieszka_Madetko-Kurczab_18.jpg') center center/cover no-repeat fixed;
    height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1, h2, h3 {
    margin: 0
}

.GridArea {
    height: 100vh;
    display: grid;
    grid-template: "nav section  "95vh "nav footer  "5vh / 1fr 6fr
}

.Section {
    grid-area: section;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.Background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    z-index: -1;
}

.Footer {
    background-color: black;
    grid-area: footer;
    color: white;
}

.List {
    list-style: none;
    color: white;
    padding-inline-start: 0px;
}

.ListElement {
    display: block;
    height: 50px;
    cursor: pointer;
}

.ListElement:hover {
    opacity: 0.5;
}

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}