.loadingInfo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sum {
    margin-right: 40px;
    align-self: flex-end;
}

.tableFinanses {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #fff;
}